{% extends "authapp/base.html" %}
{% load static %}

{% block title %}Verifique seu Email{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center flex-grow-1 bg-position-center bg-no-repeat page-bg">
    <div class="card w-100" style="max-width:440px;">
        <div class="card-body p-10" id="check_email_form">

            <div class="d-flex justify-content-center py-10">
                <img
                    alt="image"
                    src="{% static 'assets/media/illustrations/30.svg' %}"
                    class="d-block d-theme-dark-none mx-auto"
                    style="max-height:130px;"
                />
                <img
                    alt="image"
                    src="{% static 'assets/media/illustrations/30-dark.svg' %}"
                    class="d-block d-theme-light-none mx-auto"
                    style="max-height:130px;"
                />
            </div>

            <h3 class="fs-4 fw-semibold text-gray-900 text-center mb-3">
                Verifique seu e-mail
            </h3>

            <div class="fs-6 text-gray-700 text-center mb-8">
                Por favor, clique no link enviado para seu e-mail<br/>
                para redefinir sua senha. Obrigado!
            </div>

            <div class="d-flex justify-content-center mb-5">
                <a
                    href="{% url 'authapp:login' %}"
                    class="btn btn-primary w-100 d-flex align-items-center justify-content-center"
                >
                    Voltar para o Início
                    <i class="ki-solid ki-arrow-right fs-2 ms-2"></i>
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
