{% for comp in compositions %}
<tr>
    <td class="text-center fs-7 text-primary">
        #{{ comp.id }}
    </td>
    <td>
        <div class="d-flex flex-column gap-1">
            <a href="{% url 'tmsapp:explore_routes' comp.id %}"
               class="fs-7 fw-semibold text-body-emphasis text-hover-primary">
                {{ comp.name }}
            </a>
            <span class="fs-8 text-muted">
                Criado por
                {% if comp.created_by %}
                    <a href="#"
                       class="text-primary text-hover-primary">
                        {{ comp.created_by.username }}
                    </a>
                {% else %}
                    <span class="text-muted">N/A</span>
                {% endif %}
            </span>
        </div>
    </td>
    <td class="fs-7 text-body">
        {{ comp.get_type_display }}
    </td>
    <td class="fs-7 cursor-pointer text-hover-primary">
        {{ comp.total_deliveries }} Entregas
    </td>
    <td class="fs-8 text-muted">
        {{ comp.total_time }}
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="5" class="text-center fs-7 text-muted">
        Nenhuma composição encontrada.
    </td>
</tr>
{% endfor %}
