{% extends "base.html" %}
{% load static %}

{% block title %}Explorar Rotas{% endblock %}
{% block css %}
<style>
    .marker-checked {
        opacity: 0.8 !important;
    }
</style>
{% endblock %}
{% block content %}

{% include 'partials/nav/nav_route.html' %}

<div class="bg-body-content m-0 border border-secondary rounded-bottom-4 border-top-0 flex-grow-1 overflow-auto"
    style="min-height: 0;">
    <div id="scrollable_content" class="p-4">
        <main role="content" class="row g-5">
            <div class="container-fluid mt-4">
                <div class="d-flex align-items-center justify-content-between mx-5 mb-3">
                    <ol class="breadcrumb text-muted fs-6 fw-semibold">
                        <li class="breadcrumb-item">
                            <a href="{% url 'tmsapp:scriptapp:create_scripting' %}"
                                class="text-dark text-hover-primary">Roteirização</a>
                        </li>
                        <li class="breadcrumb-item text-muted">{{ scripting.code }}</li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="card card-flush h-100">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="card-body py-3">
                                    <div class="d-flex flex-wrap align-items-center gap-3">
                                        <!-- Totais de carga -->
                                        <span class="badge badge-light-primary p-2 px-4 rounded-pill fw-semibold">
                                            Entregas em Carga
                                            <span data-total-deliveries-scripting class="badge badge-primary p-2 rounded-pill ms-1">{{ scripting.deliveries_with_loadplan }}</span>
                                        </span>
                                        <span class="badge badge-light-warning p-2  px-4 rounded-pill fw-semibold">
                                            Entregas fora de Carga
                                            <span data-total-not-deliveries-scripting class="badge badge-warning p-2 rounded-pill ms-1">{{ scripting.deliveries_without_loadplan }}</span>
                                        </span>
                                        <span class="badge badge-light-success p-2  px-4 rounded-pill fw-semibold">
                                            Valor Total
                                            <span class="badge badge-success p-2 rounded-pill ms-1">R$ {{ scripting.total_value }}</span>
                                        </span>
                                        <span class="badge badge-light-info p-2 px-4 rounded-pill fw-semibold">
                                            Peso
                                            <span class="badge badge-info p-2 rounded-pill ms-1">{{ scripting.total_weight }} (kg)</span>
                                        </span>
                                        <span class="badge badge-light-info p-2 px-4 rounded-pill fw-semibold">
                                            Volume
                                            <span class="badge badge-info p-2 rounded-pill ms-1">{{ scripting.total_volume }} (m³)</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="card-body py-3">
                                    <div class="d-flex justify-content-end flex-wrap align-items-center gap-3">
                                        {% if scripting.status != 'cancelled' %}
                                        <button class="btn btn-sm btn-light togleAllRoutes">
                                            <i class="ki-outline ki-map">
                                            </i> Ver mapa
                                        </button>
                                        {% endif %}
                                        <div class="dropdown">
                                        <button
                                            class="btn btn-sm btn-basic dropdown-toggle"
                                            type="button"
                                            id="acoesDropdown"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                        >
                                            Ações
                                        </button>
                                        <ul class="dropdown-menu bg-body-content px-2 border border-gray-100 dropdown-menu-end" aria-labelledby="acoesDropdown">
                                            <!-- Iniciar carga no roteiro selecionado -->
                                            
                                            <li>
                                                <form method="post" class="form form-confirm" data-icon="question" data-message="tem certeza que deseja iniciar esse roteiro?" data-color="primary" action="{% url 'tmsapp:scriptapp:update_scripting_status' scripting.id 'planned' %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="dropdown-item" id="action-start-loading" {% if scripting.status != 'draft' %} disabled {% endif %}>
                                                        <i class="fa-solid text-primary fa-play me-2 {% if scripting.status != 'draft' %} text-muted {% endif %}"></i>
                                                        Iniciar Roteiro
                                                    </button>
                                                </form>
                                            </li>

                                            <!-- Cancelar plano de carga -->
                                            
                                            <li>
                                                <form class="form form-confirm" data-message="tem certeza que deseja cancelar esse roteiro?" method="post" action="{% url 'tmsapp:scriptapp:update_scripting_status' scripting.id 'cancelled' %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="dropdown-item" id="action-start-loading" {% if scripting.status == 'cancelled' %} disabled {% endif %}>
                                                        <i class="fa-solid text-danger fa-ban me-2 {% if scripting.status == 'cancelled' %} text-muted {% endif %}"></i>
                                                        Cancelar Roteiro
                                                    </button>
                                                </form>
                                            </li>
                                           

                                            
                                            <li>
                                                <form method="post" action="{% url 'tmsapp:scriptapp:update_scripting_status' scripting.id 'delete' %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="dropdown-item" id="action-start-loading" {% if scripting.status != 'cancelled' %} disabled {% endif %}>
                                                        <i class="fa-solid fa-trash text-danger me-2 {% if scripting.status != 'cancelled' %} text-muted {% endif %}"></i>
                                                        Excluir Roteiro
                                                    </button>
                                                </form>
                                            </li>

                                            
                                            <li><hr class="dropdown-divider" /></li>
                                            <li>
                                                <a
                                                    class="dropdown-item {% if scripting.status != 'draft' %} disabled {% endif %}"
                                                    href="#"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#addLoadModal"
                                                    data-bs-dismiss="dropdown"
                                                    disabled
                                                >
                                                    <i type="button" class="fa-solid fa-truck me-2"></i>
                                                    Adicionar Carga
                                                </a>
                                            </li>
                                            
                                            <li><hr class="dropdown-divider" /></li>

                                            <!-- Exportar roteiro (por exemplo, PDF ou Excel) -->
                                            <li>
                                                <form method="post" class="form" action="{% url 'tmsapp:scriptapp:export_scripting' scripting.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="dropdown-item {% if scripting.status != 'planned' %} disabled {% endif %}" id="action-export-route">
                                                        <i class="fa-solid fa-file-export me-2"></i>Exportar Roteiro
                                                    </button>
                                                </form>
                                            </li>

                                            <!-- Imprimir roteiro -->
                                            <li>
                                            <a class="dropdown-item disabled" href="#" id="action-print-route">
                                                <i class="fa-solid fa-print me-2"></i>Imprimir Roteiro
                                            </a>
                                            </li>
                  
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 plans-list">
                        <div class="card card-flush h-100">
                            <div class="card-body px-0 py-0 pt-0">
                                <div style="max-height:480px; min-height: 70px;" class="table-responsive scrollable">
                                    {% if scripting.load_plans %}
                                    <table id="load_plans_table"
                                        class="table table-hover table-row-dashed table-row-gray-200 align-middle gs-0 gy-3">
                                        <thead class="sticky-top bg-gray-100">
                                            <tr class="fw-bold text-gray-800">
                                                <th class="ps-8">Carga</th>
                                                <th class="text-center">Entregas</th>
                                                <th class="text-center">Veiculo</th>
                                                <th class="text-center">Motorista</th>
                                                <th class="text-center">Rota</th>
                                                <th class="text-center">Peso (kg)</th>
                                                <th class="text-center">Volume (m³)</th>
                                                <th class="text-center">Valor (R$)</th>
                                                <th class="text-center pe-8">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for plan in scripting.load_plans %}
                                            <tr class="cursor-pointer planload_item"
                                                data-id="{{ plan.id }}">
                                                <td class="ps-8 w-150px px-0">
                                                    <span data-code class="fw-semibold">{{ plan.code }}</span>
                                                    <small data-name class="text-muted truncate d-block w-150px">{{ plan.name }} / </small>
                                                </td>
                                                <td class="text-center">
                                                    <span data-total-deliveries class="badge badge-light-primary text-nowrap">{{ plan.total_deliveries }}</span>
                                                </td>
                                                <td class="text-center text-gray-800">
                                                    <span data-license-plate class="text-hover-primary cursor-pointer"
                                                        onclick="location.href='/tms/fleet/vehicle/{{ plan.vehicle.id }}/update'">
                                                        {{ plan.vehicle.license_plate|upper }}
                                                    </span>

                                                    <br>
                                                    <small data-vehicle-type class="text-muted">{{ plan.vehicle.get_vehicle_type }}</small>
                                                </td>
                                                <td class="text-center text-gray-800">
                                                    <span data-driver-name class="text-hover-primary cursor-pointer"
                                                        onclick="location.href='/tms/fleet/driver/{{ plan.vehicle.driver.id }}/update'">
                                                        {{ plan.vehicle.driver|title }}
                                                    </span>
                                                    <br>
                                                    <small data-driver-phone class="text-muted">{{ plan.vehicle.driver.phone|default_if_none:'-' }}</small>
                                                </td>
                                                <td class="text-center text-gray-800">
                                                    <span
                                                        style="background-color: {{ plan.route.route_area.hex_color }};"
                                                        class="bullet bullet-dot w-10px h-10px"></span>
                                                    {{ plan.route.name|default:'Sem rota definida' }}
                                                    <br>
                                                    <small class="text-muted"><span data-total-area-deliveries>{{ plan.total_areas|default:0 }}</span> Areas de entrega
                                                        nessa rota</small>
                                                </td>
                                                <td class="text-center text-nowrap">
                                                    <i class="fa-solid fa-weight-hanging text-muted me-1"></i>
                                                    {% if plan.is_weight_overloaded %}
                                                    <span data-total-weight class="text-danger">{{ plan.formatted_total_weight_kg }}</span>
                                                    {% else %}
                                                    <span data-total-weight class="text-gray-800">{{ plan.formatted_total_weight_kg }}</span>
                                                    {% endif %}
                                                    <small data-max-weight class="text-muted">/ {{ plan.formatted_max_weight_kg }}</small>
                                                </td>
                                                <td class="text-center text-nowrap">
                                                    <i class="fa-solid fa-cube text-muted me-1"></i>
                                                    {% if plan.is_volume_overloaded %}
                                                    <span data-total-volume class="text-danger">{{ plan.formatted_total_volume_m3}}</span>
                                                    {% else %}
                                                    <span data-total-volume class="text-gray-800">{{ plan.formatted_total_volume_m3 }}</span>
                                                    {% endif %}
                                                    <small data-max-volume class="text-muted">/ {{ plan.formatted_max_volume_m3 }}</small>
                                                </td>
                                                <td class="text-center text-nowrap">
                                                    <span data-total-value class="badge badge-light-success">R$ {{ plan.formatted_total_value }}</span>
                                                </td>
                                                <td data-status class="text-center pe-8 text-nowrap">
                                                    {% if plan.status == 'draft' %}
                                                    <span class="badge badge-light-warning">Rascunho</span>
                                                    {% elif plan.status == 'route_started' %}
                                                    <span class="badge badge-light-info">Roteiro Iniciado</span>
                                                    {% elif plan.status == 'awaiting_loading' %}
                                                    <span class="badge badge-light-info">Aguardando Carregamento</span>
                                                    {% elif plan.status == 'loading' %}
                                                    <span class="badge badge-light-info">Em Carregamento</span>
                                                    {% elif plan.status == 'loaded' %}
                                                    <span class="badge badge-light-info">Carregado</span>
                                                    {% elif plan.status == 'in_transit' %}
                                                    <span class="badge badge-light-info">Em Trânsito</span>
                                                    {% elif plan.status == 'completed' %}
                                                    <span class="badge badge-light-success">Concluído</span>
                                                    {% elif plan.status == 'cancelled' %}
                                                    <span class="badge badge-light-danger">Cancelado</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}

                                            {% else %}
                                                {%  if scripting.status != 'cancelled'%}
                                                <p colspan="6" class="text-center mt-4 text-gray-500 px-5">Nenhum plano de
                                                    carga encontrado. <span class="fw-bold">Clique no botão</span> <span class="fw-bold text-primary">"Novo Plano de Carga"</span> <span class="fw-bold">para criar um novo plano de carga"</span>
                                                </p>
                                                <div class="text-center pb-4">
                                                    <a
                                                        class="btn btn-basic btn-sm shadow-md"
                                                        href="#"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#addLoadModal"
                                                        data-bs-dismiss="dropdown"
                                                        >
                                                        <i class="fa-solid fa-truck me-2"></i>Novo Plano de Carga
                                                    </a>
                                                </div>
                                                {% else %}
                                                <p colspan="6" class="text-center mt-4 text-gray-500 px-5">Nenhum plano de
                                                    carga encontrado.</p>
                                                {% endif %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2 plans-list">
                        <div id="my-deliveries-table" class="card h-100 px-4 pb-4" data-url="{% url 'djangotables' %}"
                            data-model="delivery">

                            {# Cabeçalho com busca e ação #}
                            <div
                                class="h-50px p-0 d-flex align-items-center justify-content-between border-bottom mb-3">
                                <h3 class="card-title m-0 ms-2">Entregas</h3>
                                <div class="d-flex align-items-center gap-5">
                                    <div class="input-group-sm position-relative w-300px">
                                        <i
                                            class="ki-solid ki-magnifier fs-3 position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"></i>
                                        <input type="text" id="datatable_search" data-search
                                            class="form-control form-control-solid ps-10"
                                            placeholder="Procurar cliente, pedido..." />
                                    </div>
                                </div>
                            </div>

                            {# Tabela responsiva #}
                            <div class="table-responsive hover-scroll-y mb-3"
                                style="min-height: 440px; max-height: 440px; overflow:auto;">
                                <table class="table table-rounded border-separate p-0 m-0 align-middle"
                                    data-datatable-table="true">
                                    <thead class="fw-bolder sticky-top bg-gray-100 pb-2">
                                        <tr class="fw-semibold text-muted">
                                            <th class="w-10px py-2 ps-5 rounded-start-5">
                                                <div class="form-check form-check-sm form-check-custom">
                                                    <!-- “select all” checkbox -->
                                                    <input class="form-check-input h-15px w-15px" type="checkbox"
                                                        data-kt-check="true"
                                                        data-kt-check-target="#datatable-body .form-check-input" />
                                                </div>
                                            </th>
                                            <th data-field="id,customer_name" class="py-2 text-hover-dark text-nowarp">
                                                Cliente</th>
                                            <th data-field="order_number" class="py-2 text-hover-dark text-nowarp">
                                                Pedido</th>
                                            <th data-field="full_address" class="py-2 text-hover-dark text-nowarp">
                                                Endereço</th>
                                            <th data-field="total_weight_kg" class="py-2 text-hover-dark text-nowarp">
                                                Peso(kg)</th>
                                            <th data-field="total_volume_m3" class="py-2 text-hover-dark text-nowarp">
                                                volume(m3)</th>
                                            <th data-field="load_plan_code"
                                                class="py-2 text-hover-dark min-w-75px text-nowarp">Carga</th>
                                            <th class="rounded-end-5"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="datatable-body"></tbody>
                                </table>
                            </div>

                            {# Footer com page size e paginação #}
                            <div class="d-flex justify-content-between pt-2 align-items-center">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="fs-7">Mostrar</span>
                                    <select data-page-size class="form-select form-select-sm w-75px">
                                        <option value="10" selected>15</option>
                                        <option value="20">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    <span class="fs-7">por página</span>
                                </div>
                                <nav>
                                    <ul id="datatable-pagination" data-pagination
                                        class="pagination pagination-sm pagination-rounded mb-0"></ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 d-none" id="plan-details" >
                        <div id="plan-details-card">
                            <!-- aqui entra o HTML retornado por render_to_string -->
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
</div>

<div class="modal fade d-block" id="allRoutesModal" tabindex="-1" aria-labelledby="allRoutesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-xl modal-dialog-centered" role="document">
        <div class="modal-content border-1 border-gray-200 bg-body-content">
            <div class="modal-header p-3">
                <h5 class="modal-title ms-2" id="allRoutesModalLabel ">Mapa das Rotas</h5>
                <div class="d-flex align-items-center">
                    <select name="route" class="form-select form-select-sm w-200px me-2 py-1" id="routesSelect">
                        <option value="0" selected>Todas Rotas</option>
                        {% for plan in scripting.load_plans %}
                        <option style="color: {{ plan.route.route_area.hex_color }};" value="{{ plan.route.id }}">
                            {{ plan.code }} - Carga {{ plan.vehicle.license_plate}}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-sm py-1 btn-light-danger togleAllRoutes"
                        data-bs-dismiss="modal">
                        Fechar
                    </button>
                </div>
            </div>
            <div class="modal-body p-0">
                <div data-scripting-id="{{ scripting.id }}" id="allRoutesMap" class="w-100 h-100"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addLoadModal" tabindex="-2" aria-labelledby="addLoadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-body-content">
      <form method="post" action="{% url 'tmsapp:scriptapp:add_load_to_composition' scripting.id %}">
        {% csrf_token %}
        <div class="modal-header ps-4 py-2 bg-gray-100">
          <h5 class="modal-title" id="addLoadModalLabel">Adicionar Carga à Composição</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body py-4 px-4 scrollable scroll-y mh-500px">
         {% if available_vehicles %}
          <p class="text-info text-center">Selecione um ou mais veículos para criar a(s) nova(s) carga(s):</p>
          <div class="form-group">
            <div class="row">
              {% for vehicle in available_vehicles %}
                <div class="col-12 mb-2 border-bottom border-top py-2">
                  <div class="form-check">
                    <input 
                      class="form-check-input" 
                      type="checkbox" 
                      name="vehicle_ids" 
                      id="vehicleCheckbox{{ vehicle.id }}" 
                      value="{{ vehicle.id }}"
                    >
                    <label class="form-check-label" for="vehicleCheckbox{{ vehicle.id }}">
                      {{ vehicle.license_plate|upper }} — {{ vehicle.get_vehicle_type }} 
                      {% if vehicle.driver %} ({{ vehicle.driver|title }}) {% endif %}
                    </label>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
        <p class="text-warning p-0 m-0 text-center">Todos os veículos ativos já estão vinculados a esta composição.</p>
        {% endif %}
        </div>
        <div class="modal-footer py-1 bg-gray-100">
          <button type="button" class="btn btn-sm py-2 btn-light-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-sm py-2 btn-primary">Criar Carga(s)</button>
        </div>
      </form>
    </div>
  </div>
</div>





{% endblock %}

{% block script %}
<script src="{% static 'assets/js/custom/loadplan_details.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new DjangoDataTable({
            root: document.getElementById('my-deliveries-table'),
            pageSize: 15,
            cellClassName: 'px-2 py-1 text-sm',
            orderBy: 'load_plan_code',
            orderDir: 'asc',
            filters: {
                composition_id: { value: parseInt('{{ scripting.id }}', 0), method: 'exact' }
            },
            rowRenderer: row => {
                const url = `/tms/delivery/${row.id}/update/`;
                const customer = row?.customer_name || '...';
                return `
            <tr class="cursor-pointer bg-hover-light h-15px border-1 border-bottom border-gray-200">
            <td class="ps-5 py-1">
                <div class="form-check form-check-sm form-check-custom">
                <input type="checkbox" class="form-check-input h-15px w-15px" value="${row.id}">
                </div>
            </td>
            <td class="w-175px py-1 text-nowrap">
                <a href="${url}" class="text-gray-800 fw-bold fs-8">
                ${customer}
                </a>
            </td>
            <td class="w-75px text-gray-700 text-nowrap py-1">${row.order_number}</td>
            <td class="text-gray-700 text-nowrap py-1 w-100">
                <span class="d-block truncate w-100">${row.full_address}</span>
            </td>
            <td class="w-75px text-center text-gray-700 text-nowrap py-1">
                <i class="fa-solid fa-weight-hanging text-muted me-1"></i>
                ${row.total_weight_kg}
                </td>
            <td class="w-75px text-center text-gray-700 text-nowrap py-1">
                <i class="fa-solid fa-cube text-muted me-1"></i>
                ${row.total_volume_m3}
            </td>
            <td class="w-75px text-center text-dark text-nowrap py-1">${row.load_plan_code}</td>
            <td class="w-15px py-1 pe-5 text-nowrap">
                <a href="${url}" class="text-hover-primary text-muted">
                <i class="fa fa-edit"></i>
                </a>
            </td>
            </tr>`;
            }
        });
    });
</script>
<script>
document.addEventListener("DOMContentLoaded", () => {
        const mapa = new RouteMap({
            mapId: "allRoutesMap",
            selectId: "routesSelect",
            dataUrl: "{% url 'tmsapp:scriptapp:get_routes_scripting' scripting.id %}"
        });
        mapa.init();
        document.querySelectorAll(".togleAllRoutes").forEach(e => {
            e.addEventListener("click", () => {
                togleAllRoutes()
            })
        });
        function togleAllRoutes() {
            const modal = document.getElementById("allRoutesModal")
            if (modal.classList.contains("scale-1")) {
                modal.classList.remove("scale-1")
                return
            }
            modal.classList.add("scale-1")
        }
});
</script>
<script>
    const loadPlanDrawer = new LoadPlanDrawer();
    // Auto-inicialização quando DOM estiver pronto
    document.addEventListener('DOMContentLoaded', () => {
    try {
        loadPlanDrawer.init({
        endpoint: '/tms/fleet/loadplan/details/',
        endpoint_add: '/tms/fleet/loadplan/update/',
        scripting_id: "{{ scripting.id }}",
        listSelector: '.plans-list',
        detailsId: 'plan-details'
        });
    } catch (error) {
        console.error('Falha ao inicializar LoadPlanDrawer:', error);
    }
    });
</script>


{% endblock %}