{% load static %}
<!DOCTYPE html>
<html lang="pt_BR" dir="ltr" data-kt-name="metronic" data-bs-theme="dark" class="h-100">

<head>
    {% include 'partials/head.html' %}
    <title>StarTrack – {% block title %}Home{% endblock %}</title>
    {% block css %}{% endblock %}
    <style>
        @keyframes slide-in-right {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .animate-slide-in-right {
            animation: slide-in-right 0.3s ease-out forwards;
        }
    </style>
</head>

<body id="kt_body" class="app-page bg-body d-flex flex-column flex-root h-100 overflow-hidden">
    <!-- Theme mode setup -->


    <div class="d-flex flex-column flex-root h-100">
        {% include 'partials/header.html' %}
        <div class="d-flex flex-column flex-grow-1" style="min-height: 0;">
            {% include 'partials/sidebar.html' %}
            <div class="ps-18 pe-5 pt-19 pb-5 d-flex flex-column flex-grow-1" style="min-height:0;">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include 'partials/script.html' %}
    {% block script %}{% endblock %}

    <!-- Toast container (bottom center) -->
    <div id="docs_toast_stack_container"
        class="position-fixed bottom-0 start-50 translate-middle-x p-3"
        style="z-index: 1055;"
        data-kt-docs-toast="stack">
        <div class="data-toast_template card w-375px d-none mt-2 animation-fade-up">
            <div class="border-bottom border-gray-200 p-2 d-flex align-items-center">
            <div class="me-3 d-flex align-items-center justify-content-center">
                <i data-toast-icon class="ki-solid ki-information fs-2 text-info"></i>
            </div>
            <strong class="me-auto" data-toast-title>Keenthemes</strong>
            <small class="text-muted me-2" data-toast-time>agora</small>
            <i data-toast-close class="ki-solid ki-cross cursor-pointer fs-1 text-muted text-hover-danger"></i>
            </div>
            <div class="card-body text-gray-700 text-start p-4" data-toast-body>
            Hello, world! This is a toast message.
            </div>
        </div>
    </div>
    <div id="message-django">
    {% for message in messages %}
       <div class="message-itens"
            data-message="{{ message }}"
            data-level="{{ message.tags }}"
       >
       </div>
    {% endfor %}
    </div> 
    <audio id="alert-sound" src="{% static 'assets/media/audio/alert.mp3' %}" preload="auto"></audio>
</body>

</html>