{% extends "base.html" %}
{% load static %}

{% block title %}Motoristas{% endblock %}

{% block content %}
{% include 'partials/nav/nav_fleet.html' %}

<div class="bg-body-content m-0 border border-secondary rounded-bottom-4 border-top-0 flex-grow-1 overflow-auto"
    style="min-height: 0;">
    <div id="scrollable_content" class="p-4">
        <main role="content" class="d-grid gap-5 pb-7" style="grid-template-columns: repeat(3, 1fr);">

            {# Este card ocupa as 3 colunas #}
            <div class="card h-100 d-flex flex-column px-4 pb-4" style="grid-column: 1 / -1;">
                {# Conteúdo do card: grid interno de 4 colunas #}
                <div class="d-grid gap-4" style="grid-template-columns: repeat(4, 1fr);">

                    {# Tabela de motoristas ocupa as 4 colunas #}
                    <div class="d-grid" style="grid-column: 1 / -1;">
                        <div id="my-drivers-table" class="px-5" data-url="{% url 'djangotables' %}" data-model="driver">

                            {# Cabeçalho com busca #}
                            <div
                                class="card-header p-0 d-flex align-items-center justify-content-between border-bottom mb-3">
                                <h3 class="card-title m-0">Motoristas</h3>
                                <div class="d-flex align-items-center gap-5">
                                    <div class="input-group-sm position-relative w-300px">
                                        <i
                                            class="ki-solid ki-magnifier fs-3 position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"></i>
                                        <input type="text" id="datatable_search" data-search
                                            class="form-control form-control-solid ps-10"
                                            placeholder="Procurar motoristas" />
                                    </div>
                                    <a href="{% url 'tmsapp:fleetapp:driver_create' %}"
                                        class="btn btn-basic btn-sm shadow-md">
                                        <i class="ki-solid bi-plus-circle"></i>
                                        Adicionar
                                    </a>
                                </div>

                            </div>

                            {# Tabela responsiva #}
                            <div class="table-responsive mb-3" style="min-height: 600px; max-height: 600px; overflow:auto;">
                                <table class="table table-rounded border-separate p-0 m-0 align-middle m-0"
                                    data-datatable-table="true">
                                    <thead class="fw-bolder sticky-top bg-gray-100 pb-2">
                                        <tr class="fw-semibold text-muted">
                                            <th class="w-10px py-2 ps-5 rounded-start-5">
                                                <div class="form-check form-check-sm form-check-custom">
                                                    <!-- “select all” checkbox -->
                                                    <input class="form-check-input" type="checkbox" data-kt-check="true"
                                                        data-kt-check-target="#datatable-body .form-check-input" />
                                                </div>
                                            </th>
                                            <th data-field="id,first_name,last_name" class="py-2 text-hover-dark">Nome</th>
                                            <th data-field="license_number" class="py-2 text-hover-dark">CNH</th>
                                            <th data-field="license_category" class="py-2 text-hover-dark">Categoria</th>
                                            <th data-field="phone" class="py-2 text-hover-dark">Telefone</th>
                                            <th data-field="email" class="py-2 text-hover-dark">E-mail</th>
                                            <th data-field="is_active" class=" py-2 text-hover-dark">Status</th>
                                            <th class="rounded-end-5"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="datatable-body">

                                    </tbody>
                                </table>
                            </div>

                            {# Footer com page size e paginação #}
                            <div class="d-flex justify-content-between pt-2 align-items-center">
                                <div class="d-flex align-items-center gap-2">
                                    <span class="fs-7">Mostrar</span>
                                    <select data-page-size class="form-select form-select-sm w-75px">
                                        <option value="10" selected>10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    <span class="fs-7">por página</span>
                                </div>
                                <nav>
                                    <ul id="datatable-pagination" data-pagination
                                        class="pagination pagination-sm pagination-rounded mb-0"></ul>
                                </nav>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </main>



    </div>
</div>

<!-- End of Main -->
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const wrapper = document.getElementById('my-drivers-table');
        window.DT = new DjangoDataTable({
            root: document.getElementById('my-drivers-table'),
            pageSize: 10,
            cellClassName: 'px-2 py-1 text-sm',
            rowRenderer: row => {
                // Exemplo de linha customizada:
                const url = `/tms/fleet/driver/${row.id}/update/`;
                return `
                <tr class="cursor-pointer bg-hover-light border-1 border-bottom border-gray-200">
                    <td class="ps-5"><div class="form-check form-check-sm form-check-custom"><input type="checkbox" class="form-check-input" value="${row.id}"></div></td>
                    <td><a class="text-dark fw-bold fw-bold" href="${url}">${row.first_name} ${row.last_name}</a></td>
                    <td class="text-gray-700">${row.license_number}</td>
                    <td class="text-gray-700">${row.license_category}</td>
                    <td class="text-gray-700">${row.phone}</td>
                    <td class="text-gray-700">${row.email}</td>
                    <td><span class="badge badge-${row.is_active ? 'success' : 'danger'} badge-outline rounded-[30px]">
                        <span class="w-5px h-5px rounded-circle bg-success me-1"></span>
                        ${row.is_active ? 'Ativo' : 'Desativado'}
                        </span>
                    </td>
                    <td>
                        <a class="text-hover-primary text-muted" href="${url}"><i class="fa fa-edit fs-2"></i></a></td>
                </tr>`;
            }
        });
    });
</script>
{% endblock %} <td>
</td>